/* google font */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Share Style   */
.btn{
    width: 164px;
    color: #ffffff;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-align: center;
}

#text-green{
    color: #30B868;
}
.navbar{
   display: flex;
   width: 93%;
   max-width: 1600px;
   justify-content: space-between;
   margin: 16px auto;
   align-items: center;
   background-color: #ffffff;
}


.logo{
    width: 139px;
}
.navbar ul{
    display: flex;
    gap: 32px;
    width: 365px;
    margin: 10px 0px;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.navbar ul li a:hover{
    color: #627382;
}
.btn-1:hover{
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}


.hero-section{
    background-image: url(/assets/hero-bg.png);
    width:100%;
    max-width: 1600px;
    margin:0 auto;
    border: 1px solid black;
    text-align: center;
}

.hero-popup{
    width: 229px;
    font-size: 16px;
    margin: 115px auto 16px;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #30B868;
    background-color: #ffffff;
}
.hero-tittle{
    width: 770px;
    margin: 0 auto 16px;
    font-size: 72px;
    color: #ffffff; 
}

.hero-description{
    width: 1360px;
    text-align: center;
    color: #ffffff;
    margin: 0px auto 32px;
    font-size: 16px;
    line-height: 24px;
}
