/* google font */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Share Style   */
.btn {
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    text-align: center;
    background-color: #30B868;
}

#text-green{
    color: #30B868;
}
.navbar{
   display: flex;
   width: 93%;
   max-width: 1600px;
   justify-content: space-between;
   margin: 16px auto;
   align-items: center;
   background-color: #ffffff;
}


.logo{
    width: 139px;
}
.navbar ul{
    display: flex;
    gap: 32px;
    width: 365px;
    margin: 10px 0px;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.navbar ul li a:hover{
    color: #627382;
}
.btn-1:hover{
    border: none;
    color: #F7F6F2;
    background-color: #000000;
    cursor: pointer;
    box-shadow: #959da513 0px 8px 24px;
}


.hero-section{
    background-image: url(../assets/hero-bg.png);
    background-color: #FFFFFF;
    width:100%;
    max-width: 1600px;
    margin:0 auto;
    border: 1px solid black;
    text-align: center;
}

.hero-popup{
    display: flex;
    gap: 6px;
    width: 229px;
    font-size: 16px;
    margin: 115px auto 16px;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #30B868;
    background-color: #ffffff;
}
.hero-tittle{
    width: 770px;
    margin: 0 auto 16px;
    font-size: 72px;
    color: #ffffff; 
}

.hero-description{
    width: 1360px;
    text-align: center;
    color: #ffffff;
    margin: 0px auto 32px;
    font-size: 16px;
    line-height: 24px;
}
.hero-button{
    display: flex;
    margin: 0px 440px 160px 440px;
    justify-content: center;
    gap: 16px;
}
.hero-button .btn-2{
    display: flex;
    /* justify-items: center; */
    gap:10px;
    box-shadow: #959da513 0px 8px 24px;
}
.btn-2:hover {
    border: 1px solid #ffffff;
    color: white;
    background: none;
    cursor: pointer;
}

.hero-button #btn-3{
    background: none;
    border: 1px solid #ffffff;
}
.hero-button img{
    width: 15px;
}

#btn-3:hover{
    background-color: #8b8f92;
    border: 1px solid #ffffff;
}

.card-section{
    text-align: center;
}
.card-headline{
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 16px;
}
.card-description{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.card-items{
   display: flex;
   justify-content: center;
   gap: 24px;
  
}
.card{
    border: none;
    background-color: #FFFFFF;
    width: 322px;
    padding: 24px;
    gap: 16px;
    box-sizing: border-box;
    box-shadow:#959DA533 0px 8px 24px;
    border-radius: 4px;
}
.card-icon{
    margin: 59px auto 16px auto ;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-tittle{
    font-size: 24px;
    width: 274px;
    margin: 0px auto 16px auto;
    font-weight: 600px;
    text-align: center;

}
.card-info{
    font-size: 14px;
    width: 274px;
    color: #627382;
    line-height: 20px;
}



.brain-section{
    display: flex;
    padding: 120px;
    margin: 0px auto;
    width: 93%;
    max-width: 1600px;
    gap: 60px;
    max-width: 1600px;
    background-color: #ffffff;
}
.brain-img{
    border: none;
    border-radius: 12px;

}

.brain-text-contain{
    /* border: 1px solid black; */
    width: 700px;
    margin: 100px auto;
}

.text-point-section{
    margin-top: 20px;
}
.text-point{
    display: flex;
    gap:6px;
    margin-bottom: 16px;
}
.text-point p{
    font-size: 16px;
}
.brain-tittle{
    font-size: 38px;
    line-height: auto;
    margin-bottom: 16px;

}

 .brain-info{
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
}

.cta-contant{
    justify-content: center;
    background-color: #F7F6F2;
    width: 93%;
    max-width: 1600px;
    margin:0px auto 80px;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    padding: 80px auto;
    height: 384px;
    padding: 80px;

}
.cta-tittle{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 16px;
}
.cta-btn{
  display: flex;
  /* justify-items: center; */
  gap: 10px;
  box-shadow: #959da513 0px 100px 24px;
  justify-content: center;
  font-size: 18px;
  margin: 24px auto 16px;
}
.cta-btn:hover{
  border: 1px solid #000000;
  color: #FFFFFF;
  background-color: #000000;
}

.footer{
    background-color: #000000;
    color: #F7F6F2;
    margin: 0px auto 0px;
}
.footer-main-contant{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    padding: 120px 120px 20px 120px; ; 
}
.footer-copy{
    width: 100%;
    max-width: 1600px;
    text-align: center;
    padding: 20px 120px 80px 120px;
    }

    .footer-copy p{
        margin-top: 16px;
    }

    #hr-color
    {
        border: none;
        height: 1px;
        background-color: #8b8f92;
    }

.social-div{
    margin-bottom :16px;
    align-items: center;
    margin:auto 0px;
    gap: 16px;
}
.social-div p{
    margin-bottom: 16px;
}
.social-icon{
    gap:16px;
}
